{% extends "layout.html" %}
{% block script %}
<script type="text/javascript" src="/front/js/sucursals/modificar.js"></script>
{% endblock %}
{% block content %}
    <div class="container my-4">
        <h1 class="mb-3">Modificar sucursal</h1>
        <h5><a href="sucursales.html" class="text-decoration-none"><i class="fa fa-arrow-left me-1"></i>Volver</a></h5>

        <form>
            <div class="mb-3">
                <label for="sucursalId" class="form-label">Id:</label>
                <input type="text" class="form-control" id="sucursalId">
            </div>
            <div class="mb-3">
                <label for="sucursalNombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="sucursalNombre">
            </div>
            <div class="mb-3">
                <label for="sucursalDireccion" class="form-label">Dirección:</label>
                <textarea class="form-control" id="sucursalDireccion" rows="5"></textarea>
            </div>
            <input type="hidden" id="_id" />
            <button type="button" id="modificar-sucursal" class="btn btn-primary">
                <i class="fa fa-save me-1"></i>Guardar
            </button>
            <span id="mensaje-resultado" class="ms-2"></span>
        </form>
        <a href="javascript:history.go(0);" class="btn btn-outline-secondary mt-3">
            <i class="fa fa-sync-alt me-1"></i>Actualizar
        </a>
    </div>
{% endblock %}
